<section class="container-fluid">
    <section class="row justify-content-center ">
        <section class="col-12 col-sm-6 col-md-3 ">

            <form class="form-container" #loginForm=ngForm (ngSubmit)="onSubmit() ">
                <div class="mt-2"><strong>Login Here</strong></div>

                <div class="form-group">
                    <label for="exampleInputEmail1 ">Email Address</label>
                    <input type="email" name="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email " [(ngModel)]="form.email " required>
                    <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control " id="exampleInputPassword1 " placeholder="Password " [(ngModel)]="form.password " required>
                </div>
                <button type="submit " class="btn btn-primary btn-block " [disabled]="!loginForm.valid ">Sign in</button>
               
                <a routerLink="student-signup" class="btn btn-info btn-block ">Sign Up</a>
                <small class="float-right mt-2 ">
                    <a routerLink="/request-reset">Reset Password</a>
                  </small>
            </form>
        </section>
    </section>
</section>