<!-- <h3 style="text-align: center;">Student  Table</h3>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-2">
                        <h2>Student <b></b></h2>
                    </div>
                    <div class="col-sm-7">
                        <Button data-toggle="modal" data-target="#Modal_add" class="btn btn-primary">Add</Button>
                    </div>
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" Start searching for a s by id or subname placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Batch No</th>
                        <th>Subject</th>
                        <th>Lacturer</th>
                        <th>Answser 1</th>
                        <th>Answser 2</th>
                        <th>Answser 3</th>
                        <th>Answser 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students | filter:searchText">
                        <td>{{student.studentid}}</td>
                        <td>{{batch.batch_no}}</td>
                        <td>{{student.subname}}</td>
                        <td>{{staff.name}}</td>
                        <td>{{student.answer1}}</td>
                        <td>{{student.answer2}}</td>
                        <td>{{student.answer3}}</td>
                        <td>{{student.answer4}}</td>
                      
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div> -->
