<section class="container-fluid">
    <section class="row justify-content-center ">
        <section class="col-12 col-sm-6 col-md-3 ">
            <form class="form-container" #signupForm=ngForm (ngSubmit)="onSubmit()">
                <div class="mt-2"><strong>Student Sign Up Here</strong></div>

                <div class="alert alert-warning alert-dismissible fade show" role="alert" [hidden]="!error">
                    <strong> {{error}}!</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert" [hidden]="!response">
                    <strong> {{response}}!</strong> You can now login.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group">
                    <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Enter name" [(ngModel)]="form.name" required>
                </div>

                <div class="form-group">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="form.email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>


                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="form.password" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password_confirmation" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" [(ngModel)]="form.password_confirmation" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block" [disabled]="!signupForm.valid">Sign Up</button>
                <br>
                <a routerLink="/" class="btn btn-info btn-block">Back</a>

            </form>
        </section>
    </section>
</section>