
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <app-topbar></app-topbar>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4"  *ngIf="loggedIn">
            <h1 class="h3 mb-0 text-gray-800">Subjects</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-outline-dark shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>
        

<div class="container-xl">
        <div class="table-wrapper">
            
            <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    
                    <div class="col-sm-9">
                        <Button data-toggle="modal" data-target="#Modal_add" class="btn btn-primary">Add Subjects</Button>
                    </div> <br><br>
                    <div class="col-sm-3">
                        <div class="search-box">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" Start searching for a s by id or subname placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-striped table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of subjects | filter:searchText | paginate: {itemsPerPage:5, currentPage:p}">
                        <td>{{s.id}}</td>
                        <td>{{s.subname}}</td>
                        <td>
                            <a href="#" (click)="showUpdateModel(s.id)" class="text-warning" data-toggle="tooltip" data-toggle="modal" data-target="#Modal_update"><i class="fas fa-edit fa-sm text-wrap"></i></a> &nbsp;&nbsp;
                            <button href="#" (click)="delete(s.id)" class="text-danger" data-toggle="tooltip"><i class="fas fa-trash fa-sm text-danger"></i></button>
                    </td>
                    </tr>
                </tbody>
            </table>
            
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div> 
    </div>
</div>


<!-- Modal-Add -->
<div class="modal fade" id="Modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true ">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"><input id="addInputName" class="form-control" placeholder="Subject Name"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="add()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal-Update -->
<div class="modal fade" id="Modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
             
                <div class="row">
                    <div class="col-md-6"><input id="updateInputSubName" class="form-control" placeholder="Subject Name"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="update(id)" type="submit" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
          <!-- End Subject Row -->
              
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
      <app-footer></app-footer>
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

